
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta property="og:title" content="To be taken from SQL db">
		<meta property="og:url" content="http://www.example.com">
		<meta property="og:type" content="website">
		<meta property="og:description" content="Some more information that can be scraped from the SQL database">
		<meta property="og:Image" content="pathtoimage">
	</head>
	<body>
    <h1>TEST</h1>
    <div style="width:600px">
		<iframe src="{{ iden }}" style="position: fixed; top: 0px; bottom: 0px; right: 0px; width: 100%; border: none; margin: 0; padding: 0; overflow: hidden; z-index: 999999; height: 100%;"></iframe>
        </div>
	</body>
</html>