<html>
  <head>
    <title>Create certificates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="{{url_for('static', filename='excellentexport.js')}}" ></script>
  </head>
  <body>
	  <section class="section">
	  <div class="container">
		  <h1 class="title"> All Certs Issued </h1>
 <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
 <a download="all_certs.csv" href="#" onclick="return ExcellentExport.csv(this, 'myTable');">Export to CSV</a>
    <table id='myTable' class="table">
        <thead>
        <tr>
	    <th> cert code </th>
      <td style="display:none;"> hidden code </td>
            <th> student </th>
	    <th> student email </th>
            <th> course </th>
            <th> mentor </th>
            <th> date issued </th>
        </tr>
        </thead>
        <tbody>
            
            {% for cert in certificates %}
            <tr>
		    <th> <a href="{{ url_for('certs_bp.certificate', iden=cert[0])}}" target="_blank"> {{ cert[0] }}</a></th>
                <td style="display:none;"> {{ cert[0] }} </td>
                <td> {{ cert[1] }} </td>
                <td> {{ cert[2] }} </td>
                <td> {{ cert[3] }} </td>
                <td> {{ cert[4] }} </td>
                <td> {{ cert[5] }} </td>
            </tr>
            {% endfor %}
    
            
            
        </tbody>
    </table>
	  </div>
	  </section>
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
  </body>
</html>
