<html>
  <head>
    <title>Create certificates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

  </head>
  <body>
    <section class="section">
      <nav class="level">
      <!-- Left side -->
      <div class="level-left">
        
          <h1 class="title is-1">Generate Certificate</h1>
        
        
       
      </div>

      <!-- Right side -->
      <div class="level-right">
        <a href={{ url_for('auth_bp.logout') }} <button class="button is-danger">Sign Out </button>
        </a>

      </div>
    </nav>
      <div class="container">
        
        
        {% if cert_id %}
	View last cert created: <a href="https://cert.wdss.io/certificate/{{ cert_id }}" target="_blank">
		<p class="cert_id"><strong>Certificate code:</strong> {{ cert_id }} </a>
        {% endif %}
        
        <p>Signing certificates as: {{ current_user.mentor_fname }} {{ current_user.mentor_lname }}</p>
        <p><a href="{{ url_for('auth_bp.change_password') }}"> Change password </a> |
          <a href="{{ url_for('certs_bp.all_certificates') }}"> Table of Certs Issued </a> 
          {% if current_user.is_admin %}
          | <a href="{{ url_for('admin.index') }}"> Admin Panel </a>
        {% endif %}
        </p>
        <br>
        <h3 class="title is-3"> New Student </h3>
        <form action="" method="post">
          <label> first name: </label> <input class="input" type="text" placeholder="student first name" name="student_fname" value="{{
            request.form.student_id }}"><br><br>
          <label> last name: </label> <input class="input"  type="text" placeholder="student last name" name="student_lname" value="{{
            request.form.student_id }}"><br><br>
          <label> email: </label> <input class="input"  type="text" placeholder="student email" name="student_email" value="{{
          request.form.student_id }}"><br><br>
          
          <input type="hidden" name="mentor" value="{{ current_user.mentor_id }}">
	  <label> course: </label> <br>
          <div class="select" >
            <select id="course" name="course">
            {% for course in courses %}
              <option value= {{ course.course_id }} > {{ course.course_name }} {{ course.course_details }}</option>
            {% endfor %}
          </select></div>
        <br><br>
          <input class="button " type="submit" value="Generate">
        </form>
        <hr>
        <h3 class="title is-3"> Existing student </h3>


        <form action="" method="post">
          <label> student:</label> <br>
          <div class="select" >
            <select id="student" name="student">
            {% for student in students %}
              <option value={{ student.student_id }}> {{ student.student_fname }} {{ student.student_lname }} {{ student.student_email }} </option>
            {% endfor %}
          </select>
          </div><br><br>
          
          <input type="hidden" name="mentor" value="{{ current_user.mentor_id }}">
	  <label> course: </label><br>
          <div class="select" >
		  <select id="course" name="course">
            {% for course in courses %}
              <option value= {{ course.course_id }} > {{ course.course_name }} {{ course.course_details }}</option>
            {% endfor %}
          </select>
          </div>
        <br><br>
          <input class="button" type="submit" value="Generate">
        </form>
        {% if error %}
          <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
      </div>
    </section>
  </body>
</html>
