<!DOCTYPE html>
<html>
	<head>
		<title>Certificate Portal Privacy Policy</title>
	</head>
	<body>
		<h1>Certificate Portal Privacy Policy</h1>

		<p>The Certificate Portal is part of Warwick Data Science Society (WDSS). This privacy policy will explain how our organisation uses the personal data we collect from you when you use our website. Warwick Data Science Society will be referenced as WDSS in the policy from this point onwards.</p>
		<p>Topics:
		<dl>
			<li>What data do we collect?</li>
			<li>How do we collect your data?</li>
			<li>How will we use your data?</li>
			<li>How do we store your data?</li>
			<li>What are your data protection rights?</li>
			<li>What are cookies?</li>
			<li>How do we use cookies?</li>
			<li>What types of cookies do we use?</li>
			<li>How to manage your cookies</li>
			<li>How to contact us</li>
			<li>How to contact the appropriate authorities</li> </dl></p>
		<h2>What data do we collect?</h2>
		<p>Our society collects the following data:
		<dl>
			<li>Personal identification information:</li>
			<dl>
				<li>Name</li>
				<li>Email address</li>
			</dl>
		</dl></p>

		<h2>How do we collect your data?</h2>
		<p>When you enrol on a WDSS course, we collect and process personal data. No extra personal data is processed when using this site.
		</p>
          
		<h2>How will we use your data?</h2>
		<p>WDSS collects your data so we can:
		<dl>
			<li>Generate a course certificate</li>
			<li>Allow mentors to access the portal</li>
			<li>Email you if there are any issues</li>
		</dl></p>

		<h2>How do we store your data?</h2>
		<p>WDSS securely stores your data on our cloud server hosted by DigitalOcean. This is only accessible via ssh keys that require the root (admin) account to approve. DigitalOcean also enforces 2FA on all accounts. Data is then stored on a database which requires a separate admin password to access.</p>

		<p>WDSS will keep your personal information so the certificate can be accessed at any time. Personal data will not be kept longer than necessary. Personal data is deemed necessary as long as the data subject does not request for its erasure, by the nature of its use. Every year, WDSS will carry out a data retention review to ensure data are being processed for necessary purposes only.</p>

		<h2>What are your data protection rights?</h2>
		<p>WDSS would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>

		<p><b>The right to access</b> – You have the right to request WDSS for copies of your personal data. We may charge you a small fee for this service.</p>

		<p><b>The right to rectification</b> – You have the right to request that WDSS correct any information you believe is inaccurate. You also have the right to request Our Company to complete the information you believe is incomplete.</p>

		<p><b>The right to erasure</b> – You have the right to request that WDSS erase your personal data, under certain conditions.</p>

		<p><b>The right to restrict processing</b> – You have the right to request that WDSS restrict the processing of your personal data, under certain conditions.</p>
        
		<p><b>The right to object to processing</b> – You have the right to object to WDSS processing of your personal data, under certain conditions.</p>

		<p><b>The right to data portability</b> – You have the right to request that WDSS transfer the data that we have collected to another organization, or directly to 
            you, under certain conditions.</p>

		<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email:</p>

		<p>Write to us: hello@wdss.io</p>

		<h2>Cookies</h2>
		<p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behaviour information. When you visit our websites, we may collect information from you automatically through cookies or similar technology. For further information, visit <a href="https://www.allaboutcookies.org">allaboutcookies.org</a>.</p>

		<h2>How do we use cookies?</h2>
		<p>WDSS uses cookies in a range of ways to improve your experience on our website, including: keeping access tokens for mentors to log in only once.</p>

		<h2>What types of cookies do we use?</h2>
		<p>There are a number of different types of cookies, however, our website uses: Functionality – Our Society uses these cookies so that we recognize you on our website and remember your previously selected preferences.</p>

		<h2>How to manage cookies</h2>
		<p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>

		<h2>Privacy policies of other websites</h2>
		<p>The Certificate Portal website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>

		<h2>Changes to our privacy policy</h2>
		<p>WDSS keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 23 May 2021.</p>

		<h2>How to contact us</h2>
		<p>If you have any questions about our society’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us. Email us at: <a href="mailto:hello@wdss.io">hello@wdss.io</a>.</p>

		<h2>How to contact the appropriate authority</h2>
		<p>Should you wish to report a complaint or if you feel that Our Society has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner’s Office.</p>
		
		<footer>
			<p><a href="https://www.wdss.io">Warwick Data Science Society</a></p>
			<p><a href="{{ url_for('privacy_bp.privacy')}}">Privacy Policy</a></p>
		</footer>
	</body>
</html>
