<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Generate Certificate</h1>
      <br>
      
      <form action="" method="post">
        <select id="student" name="student">
          {% for student in students %}
            <option value={{ student.id }}> {{ student.primary_key }} {{ student.student_lname }} {{ student.student_email }} </option>
          {% endfor %}
        </select>
        <input type="text" placeholder="student" name="student" value="{{
          request.form.student_id }}">
        <select id="mentor" name="mentor">
          {% for mentor in mentors %}
            <option> {{ mentor.mentor_fname }} {{ mentor.mentor_lname }}</option>
          {% endfor %}
        </select>
        <select id="course" name="course">
          {% for course in courses %}
            <option> {{ course.course_name }}</option>
          {% endfor %}
        </select>
       
        <input class="btn btn-default" type="submit" value="Generate">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
